:root {
  --primary-color: #41978F;
  --secondary-color: #86E3A8;
}

/* main settings for the extension following brand guidelines, including font, color*/
.main {
  font-family: "Mulish";
  text-align: center;
}

/* a primary button */
.primary-btn {
  background-color: var(--primary-color) !important;
  border: none !important;
  margin: 1% 1% 1% 1%;
}

.load-more {
  position:fixed;
  margin-left:-15%;
  left:50%;
  width:30%;
  bottom:10px;
}

.menu-tab {
  font-size: 20px;
  padding: 20px 60px;
  cursor: pointer;
  opacity: 0.6;
  background: white;
  border: 0;
  outline: 0;
  white-space: nowrap;
  text-align: center;
  color: var(--primary-color);
}

.button-group {
  display: flex;
}

.card {
  width: 80%;
  margin: 2% auto;
  text-align: left;
  overflow: auto; 
  border-radius: 0.375rem;
  border:1px solid var(--primary-color);
}


/* Components css styling starts here */

/* logout button */
.logout-button {
  position: fixed;
  width: 30%;
  bottom: 10px;
  right: 10px;
}
